* {
    box-sizing: border-box;
    
}
#div1 {
    height: 50px;
    background-color: blue;
   
}
#div2 {
    background-color: blueviolet;
    width: 30%;
    height: 300px;
    float: left;
    padding: 100px;
    overflow-y: scroll;
    display: flex;
         
}

#div3 {
    background-color:rgb(42, 165, 58);
    height: 300px;
    overflow-x: scroll;

}
