p {
    font-weight: 100px;
    font-style: italic;
    line-height: normal;
    letter-spacing: normal;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    text-indent: -50px;
}

h3 {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: blue;
    text-decoration-style: dashed;
    /* color: rgb(200, 0, 100); */
    color: #98afff;
    
}
div {
    margin: 50px;
    border: 2px solid black;
    padding: 30px;
}


